{% extends "base.html.j2" %}

{% block head %}
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:url" content="{{ url }}">
    <script type="application/ld+json">
    {
        "@context": "{{ base_url }}",
        "@type": "WebPage",
        "name": "{{ page.title }}",
        "description": "{{ page.description }}",
        "url": "{{ url }}"
    }
    </script>

    <link rel="stylesheet" href="/assets/main.css">

    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.4.0/styles/base16/black-metal-bathory.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/dockerfile.min.js"></script>

    <script>hljs.highlightAll();</script>
{% endblock head %}

{% block content %}

<div>
{% include "header.html.j2" %}

<div style="margin-bottom: 2em">
    <h1>{{ page.title }}</h1>
    <small>date: {{ page.published_at }}</small>
</div>

<p>{{ page.description }}</p>

{{ page.content }}

tags:{% for tag in page.tags %} <a href="/posts/?tag={{ tag }}">{{ tag }}</a>{% endfor %}
</div>
{% endblock content %}