{% extends "base.html.j2" %}

{% block title %}Posts{% endblock title %}

{% block content %}
<div class="center">
    <div>
        {% include "header.html.j2" %}
        <ul>
        {% for post in posts %}
            <li>
                <div>
                    <h3><a href="{{ post.href }}">{{ post.page.title }}</a></h3>
                    <p>{{ post.page.description }}</p>
                    <small>date: {{ post.page.published_at }}</small><br>
                    <small>tags:{% for tag in post.page.tags %} <a href="/tags/?q={{ tag }}">{{ tag }}</a>{% endfor %}</small>
                    <hr>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
