{% extends "base.html.j2" %}

{% block title %}Index{% endblock title %}

{% block content %}
<div class="center">
    <pre>
  .____
 /
/                |
           ____  |
             *|  |
                 |
                 |
               __|
               _|
                |
            ____|
           | """
    </pre>
</div>

<div class="center">
    <div>
    <pre style="white-space: pre-wrap; word-wrap: break-word;">
┌──────────────────────────────────────────────────────────────────┐
│ <b># about me</b>                                                       │
│ Deni Tazurkaev (<a href="https://github.com/tdeni">github</a>/<a href="https://t.me/tazurkaev">telegram</a>)                                 │
│ age: <span id="age"></span> years old                                                │
│                                                                  │
│ languages:                                                       │
│   - chechen: native                                              │
│   - russian: native                                              │
│   - english: B1                                                  │
│                                                                  │
├──────────────────────────────────────────────────────────────────┤
│ <b># experience</b>                                                     │
│ Cloud/Backend Engineer (Python/Go)                               │
│                                                                  │
│ Backend engineer with expertise in OpenStack                     │
│ and hyperconverged systems.                                      │
│                                                                  │
│ * Developed features for OpenStack-based cloud services          │
│ * Built solutions for hyperconverged infrastructure (HCI)        │
│ * Backend focus (distributed systems, APIs), minor frontend work │
│                                                                  │
├──────────────────────────────────────────────────────────────────┤
│ <b># technologies</b>                                                   │
│   * python     [fastapi, django/drf, sqlalchemy]                 │
│   * go         [gin, echo, gorm]                                 │
│   * javascript [nodejs, svelte]                                  │
│   * db         [postgresql, mongodb, redis]                      │
│   * broker     [rabbitmq]                                        │
└──────────────────────────────────────────────────────────────────┘
    </pre>
    {% if posts %}
        <p>posts:</p>
        <ul>
            {% for post in posts %}
            <li><a href="{{ post.href }}">{{ post.page.title }}</a> ({{ post.page.published_at }})</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>
<script>
function getAge() {
    let birthDate = new Date('2002-03-01');
    let currentDate = new Date();
    let age = currentDate.getFullYear() - birthDate.getFullYear();
    if (currentDate.getMonth() < birthDate.getMonth() || (currentDate.getMonth() === birthDate.getMonth() && currentDate.getDate() < birthDate.getDate())) {
        age--;
    }
    return age;
}

document.getElementById('age').innerText = getAge();
</script>
{% endblock content %}